{% extends 'front/layout.html.twig' %}

{% block title %}
	Fil d'actualité
{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="bg-banner">
			<div class="row align-items-center">
				<div class="col-md-8">
					<h3>Le site d'annonce qui donne une deuxième chance à vos surplus et chute de matériaux.</h3>
					<h5>Ne jetez plus, donnez</h5>
					<h5>Ne stockez plus, vendez</h5>
				</div>
				<div class="col-md-4">
					<a href="{{path('app_post-create')}}" class="btn btn-primary">Déposez une annonce</a>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			{% for post in posts %}
				<div class="row justify-content-center">
					<div class="card card-home mb-3" style=''>
						<img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text">{{ post.description|length > 100 ? post.description|slice(0, 100) ~ '...' : post.description}}</p>
							<p class="card-text">
								<small class="text-muted">Publié :
									{{post.createdAt|date('d/m/Y - H:i')}}, par
									{{post.user}}</small>
							</p>
						</div>
						<a href="{{path('app_post-detail', {"id": post.id})}}" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>


			{% endfor %}
		</div>

	</div>


{% endblock %}
